html {
    background: #363636;
    height: 100%;
}

.calendar-events {
    height: 100%;
    overflow:hidden !important;
}

.c3-tooltip-container .c3-tooltip {
    color: black !important;
}

/*  
table th {
  color: white !important;
} 

table tr {
    background-color: #363636;
}

table tbody tr {
    background-color: #363636;
    color: white;
} */


.dataTables_length  label {
    color: white;
}
.dataTables_filter label {
    color: white;
}
tbody td {
    background: #363636;
}

.paginate_button {
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color:white !important;
    border: 1px solid #111;
    background-color: #585858;

    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}
