{% extends 'base.html' %} 
{% block title %}Day Results{% endblock %} 
{% block content %}

<section>
    <div class="calendar is-large">
        <div class="calendar-nav">
            <div></div>
            <div>Edit Database</div>
            <div></div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="container">
        <br>
        <br>
        <table id="editdbTable" class="table is-fullwidth">
            <thead>
                <tr>
                    <th style="color:white;background-color: #363636;">id</th>
                    <th style="color:white;background-color: #363636;">Entry Date</th>
                    <th style="color:white;background-color: #363636;">Exit Date</th>
                    <th style="color:white;background-color: #363636;">Entry Time</th>
                    <th style="color:white;background-color: #363636;">Exit Time</th>
                    <th style="color:white;background-color: #363636;">Trade Duration</th>
                    <th style="color:white;background-color: #363636;">Num. Of Shares</th>
                    <th style="color:white;background-color: #363636;">Trade Direction</th>
                    <th style="color:white;background-color: #363636;">Entry Price</th>
                    <th style="color:white;background-color: #363636;">Exit Price</th>
                    <th style="color:white;background-color: #363636;">Profit</th>
                    <th style="color:white;background-color: #363636;">Ticker</th>
                    <th style="color:white;background-color: #363636;">System</th>
                    <th style="color:white;background-color: #363636;">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for trade in alltrades %}
                <tr>
                    <td style="color:white;background-color: #363636;">{{ trade[0] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[1] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[2] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[3] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[4] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[5] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[6] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[7] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[8] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[9] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[10] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[11] }}</td>
                    <td style="color:white;background-color: #363636;">{{ trade[12] }}</td>
                    <td style="color:white;background-color: #363636;"><span class="delete editdb"></span></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th style="color:white;background-color: #363636;">id</th>
                    <th style="color:white;background-color: #363636;">Entry Date</th>
                    <th style="color:white;background-color: #363636;">Exit Date</th>
                    <th style="color:white;background-color: #363636;">Entry Time</th>
                    <th style="color:white;background-color: #363636;">Exit Time</th>
                    <th style="color:white;background-color: #363636;">Trade Duration</th>
                    <th style="color:white;background-color: #363636;">Num. Of Shares</th>
                    <th style="color:white;background-color: #363636;">Trade Direction</th>
                    <th style="color:white;background-color: #363636;">Entry Price</th>
                    <th style="color:white;background-color: #363636;">Exit Price</th>
                    <th style="color:white;background-color: #363636;">Profit</th>
                    <th style="color:white;background-color: #363636;">Ticker</th>
                    <th style="color:white;background-color: #363636;">System</th>
                    <th style="color:white;background-color: #363636;">Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>

</section>


{% endblock %}