{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<section>
    <div class="calendar is-large">
        <div class="calendar-nav">
            <div class="calendar-nav-previous-month pm">
                <a href="{{py}}-{{pm}}">
                    <button class="button is-text">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </a>
            </div>
            <div>{{monthName}} {{year}}</div>
            <div class="calendar-nav-next-month nm">
                <a href="{{ny}}-{{nm}}">
                    <button class="button is-text">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="calendar-container">
            <div class="calendar-header">
                <div class="calendar-date">Sun</div>
                <div class="calendar-date">Mon</div>
                <div class="calendar-date">Tue</div>
                <div class="calendar-date">Wed</div>
                <div class="calendar-date">Thu</div>
                <div class="calendar-date">Fri</div>
                <div class="calendar-date">Sat</div>
            </div>
        </div>
        <div class="calendar-body">
            <!-- for date in month do div.calendar-date button.date-item {{date}} -->
            {% for date in monthRange: %}
            <div class="calendar-date">
                {% if date != 0 %}

                <!-- {{'%02d'|format(date)}} -->


                <a href="{{year}}-{{month}}-{{date}}" class="date-item" {% for day, profits in dayprofits %} {% if
                    day[-2:]=='%02d' |format(date) %} {% if profits> 0.00 %}
                    style="background: rgb(35,209,96) !important"
                    {% elif profits < 0.00 %} style="background: #ff3860 !important" {% endif %} {% endif %} {%endfor%}>
                        {{date}}
                </a>
                <div class="calendar-events">
                    {% for item in allTrades %} {%if item[0].split('-')[2] == '%02d'|format(date):%} {% if item[1]|float
                    < 0.00: %} <a class="calendar-event is-danger">
                        <div class="level">
                            <div class="level-left">{{ item[2] }}</div>
                            <div class="level-right">{{ item[1] }}</div>
                        </div>
                        </a>
                        {% elif item[1]|float > 0.00: %}
                        <a class="calendar-event is-success">
                            <div class="level">
                                <div class="level-left">{{ item[2] }}</div>
                                <div class="level-right">{{ item[1] }}</div>
                            </div>
                        </a>
                        {% else %}
                        <a class="calendar-event">
                            <div class="level">
                                <div class="level-left">{{ item[2] }}</div>
                                <div class="level-right">{{ item[1] }}</div>
                            </div>
                        </a>
                        {% endif %} {%endif%} {% endfor %}
                </div>



                {% endif %}
            </div>
            {% endfor%}













        </div>
    </div>
</section>





{% endblock %}