
<nav class="navbar is-dark has-shadow">
    <div class="navbar-brand">
        <a href="{{url_for('index')}}" class="navbar-item">
            <!-- <img src="{{url_for('static', filename='images/Intl-trade-icons-06.png')}}" alt=""> -->
            <img src="{{url_for('static', filename='images/Logo_v2.png')}}" alt="">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
    <div class="navbar-start"></div>
    <div class="navbar-end">
        
        <a href="{{url_for('index')}}" class="navbar-item is-size-3">Home</a>
        {% if session['username'] %}
        <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">
                <div class="has-text-centered">
                    <span class="is-size-7">TRADES</span>
                    <br>
                    <!-- <span class="is-size-3">98</span> -->
                    <span class="is-size-3">{{session['tradestoday']}}</span>
                    <br>
                    <!-- <span class="is-size-7">TOTAL TRADES</span> -->
                    <span class="is-size-7">TODAY</span>
                </div>
            </span>
            <div class="navbar-dropdown">
                <a href="{{url_for('add_trade')}}" class="navbar-item">Add Trade</a>
                <a href="{{session['today']}}" class="navbar-item">Today's Trades</a>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">
                <div class="has-text-centered">
                    <span class="is-size-7">TRADES</span>
                    <br>
                    <span class="is-size-3">{{ session['tradesthismonth'] }}</span>
                    <br>
                    <span class="is-size-7">THIS MONTH</span>
                </div>
            </span>
            <div class="navbar-dropdown">
                <a href="{{url_for('stats')}}" class="navbar-item">Statistics</a>
                <!-- <a href="{{session['today']}}" class="navbar-item">Today's Trades</a> -->
                <a href="{{url_for('ptm')}}" class="navbar-item">Profit This Month</a>
            </div>
        </div>
        
        <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">
                <div class="has-text-centered">
                    <span class="is-size-7">ACCOUNT</span>
                    <br>
                    <span class="is-size-3">{{ session['username'] }}</span>
                    <br>
                    <span class="is-size-7">SETTINGS</span>
                </div>
            </span>
            <div class="navbar-dropdown">
                <a class="setBalance navbar-item">Set Balance</a>  <!-- make this a modal -->
                <a href="{{ url_for('editdb') }}" class="navbar-item">Edit Database</a>
                <a href="{{ url_for('editSystems') }}" class="navbar-item">Edit Systems</a>
            </div>
        </div>
        <div class="navbar-item has-dropdown">
            <span class="navbar-link">
                <div class="has-text-centered">
                    <span class="is-size-7">TOTAL</span>
                    <br>
                    <span class="is-size-3">{{ session['numberOfTrades'] }}</span>
                    <br>
                    <span class="is-size-7">TRADES</span>
                </div>
            </span>
        </div>
        
            <a href="{{url_for('logout')}}" class="navbar-item is-size-3">Logout</a>
        {% else: %}
            <a href="{{url_for('login')}}" class="navbar-item is-size-3">Login</a>
        {% endif %}
    </div>
    </div>
</nav>

<div class="balanceModal modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Set Starting Balance</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <form action="{{url_for('setBalance')}}" method="POST">
            <section class="modal-card-body">
                    <div class="field">
                        <input type="number" step="0.01" class="input" name="setBalance" value="3000.00">
                    </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Update balance</button>
            </footer>
        </form>
    </div>
</div>
